
.title {
    font-family: "Crimson Text", serif;
    font-weight: bold;
    font-size: min(256rem, 13vw);

}

.pretitle {
    font-family: "Crimson Text", serif;
    font-weight: bold;
    font-size: 15rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    color: var(--white);
    background-color: var(--spring-200);
}

.hero-section .container {
    text-align: center;
}

.hero-section img {
    z-index: -1;
    position: absolute;
    transform: rotate(37deg);
}

.hero-section .flower-icon {
    top: 0;
    right: 0;
}
.hero-section .flower-icon {
    top: 0;
    right: 0;
}

.hero-section .snowflake-icon {
    top: 0;
    left: 0;
    width: 640rem;
}

.lower-opacity {
    opacity: 0.1;
}