/* ---------- Intro ---------- */

.intro-section {
  background-color: var(--color-sand-900);
  color: var(--color-sand-300);
}

.intro-section p {
  font-family: 'Playfair Display', serif;
  font-size: 32rem;
  color: var(--color-sand-300);
}

.intro-section strong {
  font-weight: 700;
  font-style: italic;
  color: var(--color-sand-100);
}

.intro-section a {
  color: inherit;
}

.sponsor-marquee {
  position: relative;
  overflow: hidden;
  margin-top: 64rem;
}

/* Gradient overlay to fade away edges */
.sponsor-marquee::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    var(--color-sand-900) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 90%,
    var(--color-sand-900) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.sponsor-marquee__inner {
  display: flex;
  align-items: center;
  width: max-content;
}

.sponsor-marquee__inner img {
  height: 48rem;
  flex-grow: 0;
  flex-shrink: 0;
  filter: invert(1) hue-rotate(180deg);
  opacity: 0.5;
  margin-right: clamp(64rem, 10vw, 128rem);
}

@media screen and (min-width: 900px) {
  .intro-section p {
    font-size: 48rem;
  }

  .sponsor-marquee {
    margin-top: 128rem;
  }
}
