/* ---------- Desktop navbar ---------- */

.navbar {
  display: none;
}

@media (min-width: 900px) {
  .navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 64rem;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    mix-blend-mode: difference;
  }
}

.navbar__logo img {
  height: 40rem;
  filter: invert(1);
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__menu-left,
.navbar__menu-right {
  display: flex;
  align-items: center;
  gap: 32rem;
  width: 100%;
}

.navbar__menu-right {
  justify-content: flex-end;
}

.navbar__menu-item {
  color: var(--color-sand-700);
  text-transform: uppercase;
  text-decoration: none;
}

.navbar__menu-link {
  color: var(--color-white);
  text-decoration: none;
}

/* ---------- Mobile menu button ---------- */

.menu-button {
  position: fixed;
  top: 24rem;
  right: 24rem;
  display: grid;
  place-items: center;
  width: 48rem;
  height: 48rem;
  cursor: pointer;
  z-index: 100;
  background-color: var(--color-sand-600);
  border: none;
  border-radius: 9999px;
}

.menu-button[data-open] {
  background-color: var(--color-sand-800);
}

.menu-button__icon {
  color: var(--color-sand-100);
  font-size: 32rem;
}

@media screen and (min-width: 900px) {
  .menu-button {
    display: none;
  }
}

/* ---------- Mobile menu ---------- */

.menu {
  display: none;
  position: fixed;
  gap: 64rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-sand-900);
  color: var(--color-sand-100);
  z-index: 99;
}

.menu[data-open] {
  display: flex;
}

.menu__logo img {
  height: 40rem;
  filter: invert(1);
}

.menu__list {
  display: flex;
  gap: 16rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.menu a {
  color: var(--color-sand-100);
  text-decoration: none;
  text-transform: uppercase;
}
