/* ---------- Schedule ---------- */

.schedule-section__columns {
  display: flex;
  flex-direction: column;
  gap: 64rem;
}

.schedule-section__column h3 {
  color: var(--color-sand-300);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16rem;
}

.schedule-section__timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 48rem;
  padding: 16rem 0;
}

.schedule-section__timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 8rem;
  width: 1rem;
  height: 100%;
  background-color: var(--color-sand-700);
  transform: translateX(-50%);
}

.schedule-section__event {
  padding-left: 32rem;
}

.schedule-section__event-name::before {
  content: '';
  position: absolute;
  top: calc(0.6 * 1em);
  left: -28rem;
  width: 8rem;
  height: 8rem;
  background-color: var(--color-sand-300);
  border-radius: 9999px;
}

.schedule-section__event-name {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 24rem;
  font-weight: 700;
  color: var(--color-sand-100);
}

@media screen and (min-width: 900px) {
  .schedule-section__columns {
    flex-direction: row;
    gap: 0;
  }

  .schedule-section__columns > * {
    flex: 1;
  }

  .schedule-section__event {
    padding-left: 48rem;
  }

  .schedule-section__event-name {
    font-size: 40rem;
  }

  .schedule-section__event-name::before {
    left: -48rem;
    width: 16rem;
    height: 16rem;
  }
}
