/* ---------- Team ---------- */

.team-section .feature-list__item {
  border-color: var(--color-sand-700);
}

.team-section .feature-list__title-column h3 {
  color: var(--color-sand-100);
}

.team-section .feature-list__body-column ul {
  list-style: none;
}

.team-section .feature-list__body-column li:not(:last-child) {
  margin-bottom: 16rem;
}

.team-section .feature-list__body-column strong {
  color: var(--color-sand-100);
}

.team-member {
  display: flex;
  align-items: center;
  gap: 16rem;
}

.team-member img {
  width: 64rem;
  height: 64rem;
  border-radius: 9999px;
}

@media screen and (min-width: 900px) {
  .team-member img {
    width: 80rem;
    height: 80rem;
  }
}
